{{ define "main" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p class="byline">
  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
    {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
  </time>
</p>
{{ end }}
<content>
  {{ .Content }}
</content>
<section>
    <h2>Gallery</h2>
    <div class="photo-gallery">
      {{ range .Params.images }}
      {{ $image := resources.Get . }}
      {{ with $image }}
      {{ $resized := $image.Resize "300x" }}
      <a href="{{ $image.RelPermalink}}" target="_blank">
        <img src="{{ $resized.RelPermalink }}">
      </a>
      {{ end }}
      {{ end }}
    </div>
  </section>
<p>
  {{ range (.GetTerms "tags") }}
    <a class="blog-tags" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
  {{ end }}
</p>
{{ with .Site.Params.author.email }}
  <p>
    <a href='mailto:{{ . }}?subject={{ i18n "email-subject" }}"{{ default $.Site.Title $.Page.Title }}"'>
      {{ i18n "email-reply" }} ↪
    </a>
  </p>
{{ end }}
{{ end }}
