{{ define "main" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p class="byline">
  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
    {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
  </time>
</p>
{{ end }}
{{ if .Params.github }}
<a href="{{ .Params.github }}" target="_blank" class="github-button">
  <img src="/images/github-mark-white.png" alt="GitHub Logo" class="github-logo">
  View on GitHub
</a>
{{ end }}
<content>
  {{ .Content }}
</content>
{{ if .Params.banned }}
<img id="beaned" src="/images/banned-google-play.jpg" />
{{ end }}
<section>
    <h2>Gallery</h2>
    <div class="photo-gallery">
      {{ range .Params.images }}
      <img src="{{ . | absURL }}" alt="Photo of {{ $.Title }}">
      {{ end }}
    </div>
  </section>
<p>
  {{ range (.GetTerms "tags") }}
    <a class="blog-tags" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
  {{ end }}
</p>
{{ with .Site.Params.author.email }}
  <p>
    <a href='mailto:{{ . }}?subject={{ i18n "email-subject" }}"{{ default $.Site.Title $.Page.Title }}"'>
      {{ i18n "email-reply" }} ↪
    </a>
  </p>
{{ end }}
{{ end }}
