<div class="social-icons">
  <a href="https://github.com/vanhine" target="_blank" aria-label="GitHub">
    <img src="/images/github-mark-white.png" alt="GitHub">
  </a>
  <a href="https://hachyderm.io/@hine" target="_blank" aria-label="Mastodon">
    <img src="/images/mastodon-logo.png" alt="Mastodon">
  </a>
  <a href="https://linkedin.com/in/adamvanhine/" target="_blank" aria-label="LinkedIn">
    <img src="/images/linked-in-logo.png" alt="LinkedIn">
  </a>
  <a href="https://instagram.com/adamvanhine/" target="_blank" aria-label="Instagram">
    <img src="/images/instagram-logo.png" alt="Instagram">
  </a>
</div>